

@font-face {
    font-family: 'menukad';
    src: url('fonts/font.eot');
    src: url('fonts/font.eot?#iefix') format('embedded-opentype'),
         url('fonts/font.woff2') format('woff2'),
         url('fonts/font.woff') format('woff'),
         url('fonts/font.ttf') format('truetype'),
         url('fonts/font.svg#shofarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



html, body {
  font-family: 'menukad', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
