<style>


.reader-text {
		font-family: 'menukad';
		font-size:24px;

}

.boldme{font-weight:bold}
</style>



<center>
<div class="well">
		<span ng-class="(chul==false)?'boldme':''" >ישראל</span>
		<input type="checkbox" ng-model="chul" ng-true-value="true" ng-false-value="false">
		<span ng-class="(chul==true)?'boldme':''" >חול</span>
</div>

</center>




</div>


<div>
<div>
	<br><br>
</div>
<div ng-bind='title'></div>
<div ng-bind-html='text' class="reader-text"></div>
<div>


	<br><br><br><br>
	<br><br><br><br>
</div>
</div>


