<style>
.reader-text {
		font-family: 'menukad';
		font-size:24px;

}
</style> 
<div>


<div class="well">
	<div ng-bind='title'></div>
</div>






<div ng-repeat="text in texts" class="reader-text" ng-bind-html='text'></div>
<div>
	<br><br><br><br>
	<br><br><br><br>
</div>

</div>
 
 
 
      


