
<h1>{{title}}</h1>
<div ng-repeat="page in pages" layout="" layout-align="center center" layout-wrap="" flex> 
<img src="data/tanya/{{page}}.gif" style="width:90%">
</div>
<div>
	<br><br><br><br>
	<br><br><br><br>
</div>
