
<div class="well">

<h4>{{title}}</h4>

</div>



<div ng-repeat="page in pages" layout="" layout-align="center center" layout-wrap="" > 
<img src="data/tehilim/{{page}}.gif" style="width:90%">
</div>
<div>
	<br><br><br><br>
	<br><br><br><br>
</div>
