
<md-button class="md-primary md-fab md-fab-bottom-left md-button md-default-theme" ng-controller="topNavCntl as vm"
           ng-click="vm.openBottomSheet()">
<span class="ng-scope">
    menu
</span>
</md-button>