<style>




.btn-round {
  background-color: #d23f31;
  border-radius: 9em;
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  line-height: 1.4;
  font-size: 36px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.btn-round span {
 position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -22px;
  color: #FFF;
}

.blue { background-color: #38818F;}


.right-top-button{
	position:fixed;
	top:10px;
	right:10px;
}

.left-top-button{
	position:fixed;
	top:10px;
	left:10px;
}

.left-bottom-button{
	position:fixed;
	bottom:10px;
	left:10px;
}


.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}



</style>
	
 
 
 <nav class="navbar navbar-default navbar-fixed-top"  ng-controller="topNavCntl as vm" ng-cloak>
      <div class="container-fluid">
	  

	<div ng-click="vm.prevDay()" class=" ztop right-top-button btn-round blue"><span><i class="glyphicon glyphicon-chevron-right"></i></span></div>
	<div ng-click="vm.nextDay()" class=" ztop left-top-button btn-round blue"><span><i class="glyphicon glyphicon-chevron-left"></i></span></div>
	
	
	  <div class="navbar-inner">
       
        <ul class="nav nav-center">
            <li><h4>חת"ת ורמב"ם</h4></li>
            <li>{{vm.date.dateText}}</li>
        </ul>
      
    </div>
	
     	
      </div>
</nav>


	

	
		
	<br><br>
	<br><br>





<div class="container-fluid">
  <div class="row">
		<a ng-href="{{but.url}}">
		<div 
				class="well col-xs-12 col-sm-4 col-md-4 col-lg-3"   
				ng-repeat="but in bArray" ng-href="{{but.url}}" ><h5><b>{{but.text}}</h5></b></a>
		
		
		</div></a>
		
		
	</div>
</div>



		
	
	


		
                
        
		  

